body{
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.main{
  margin-top:10%; 
  margin-left: 14%;
}
#circle {
  height: 250px;
  width: 250px;
}

circle {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke-linecap: butt;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

circle:hover {
  stroke-dashoffset: 300;
  stroke-dasharray: 700;
  stroke-width: 10;
}
#sk{
  float: left;
}
h1,h2{
  text-align: center;
}