*{
	text-align: center;
	outline: none;
}
body{
	background-color: #dcdde1;
}
p{
	color:#5985ff;
	font-weight: bold;
	font-size: 25px;
}
input{
padding:10px;
width:600px;
border-radius:5px;
border:solid 2px #BBB;
}
div{
margin:10px 0px;
}
button{
padding:10px 70px 10px 70px;
background-color:#0097e6;
color:#FFFFFF;
border:none;
cursor:pointer;
border-radius:5px;
}
